html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.card-area {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1500px; 
}

#cardCanvas {
    transform-origin: center center;
    transform-style: preserve-3d;
    transition: transform 0.1s ease-out;
}

.controls {
    position: absolute;
    top: 50%;
    left: 5vw;
    transform: translateY(-50%);
    z-index: 10;
	
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.controls label {
    display: none;
}

#downloadBtnImg, #shareBtnImg, #resetBtnImg, #toggle3DBtnImg {
    width: 180px;
    cursor: pointer;
    transition: transform 0.2s;
    display: block;
}

#downloadBtnImg:hover, #shareBtnImg:hover, #resetBtnImg:hover, #toggle3DBtnImg:hover {
    transform: scale(1.05);
    opacity: 0.9;
}
